---
BasedOnStyle: LLVM
MaxEmptyLinesToKeep: 4
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  AlignFunctionPointers: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
DerivePointerAlignment: true
IncludeBlocks: Merge
IndentAccessModifiers: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentWidth: 8
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Right
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: false
SpaceBeforeCaseColon: true
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: false
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: false
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: false
BracedInitializerIndentWidth: 4
